USE [master]
GO
/****** Object:  Database [QuanLyPhongKham]    Script Date: 04/02/2024 8:11:51 PM ******/
CREATE DATABASE [QuanLyPhongKham]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyPhongKham_Data', FILENAME = N'D:\SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyPhongKham.mdf' , SIZE = 12288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyPhongKham_Log', FILENAME = N'D:\SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyPhongKham.ldf' , SIZE = 9920KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyPhongKham].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyPhongKham]
GO
/****** Object:  Table [dbo].[BACSI]    Script Date: 04/02/2024 8:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BACSI](
	[MaBacSi] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[MaKhoa] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](150) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[NamSinh] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[CanCuoc] [nvarchar](20) NULL,
	[TrinhDo] [nvarchar](50) NULL,
	[Anh] [nvarchar](max) NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_BACSI] PRIMARY KEY CLUSTERED 
(
	[MaBacSi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EmailBS] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BENHAN]    Script Date: 04/02/2024 8:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENHAN](
	[MaBenhAn] [nvarchar](50) NOT NULL,
	[MaBenhNhan] [nvarchar](50) NOT NULL,
	[MaDangKy] [nvarchar](50) NULL,
	[MaKhamLamSang] [nvarchar](50) NULL,
	[TongTien] [int] NULL,
	[DaThu] [int] NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_BENHAN] PRIMARY KEY CLUSTERED 
(
	[MaBenhAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BENHNHAN]    Script Date: 04/02/2024 8:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENHNHAN](
	[MaBenhNhan] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](150) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[NamSinh] [nvarchar](10) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[CanCuoc] [nvarchar](20) NULL,
	[BHYT] [nvarchar](20) NULL,
	[SoDienThoai] [nvarchar](20) NOT NULL,
	[NgheNghiep] [nvarchar](50) NULL,
	[DanToc] [nvarchar](20) NULL,
	[QuocTich] [nvarchar](20) NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_BENHNHAN] PRIMARY KEY CLUSTERED 
(
	[MaBenhNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHIDINH]    Script Date: 04/02/2024 8:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHIDINH](
	[MaChiDinh] [nvarchar](50) NOT NULL,
	[MaBacSi] [nvarchar](50) NOT NULL,
	[MaBenhAn] [nvarchar](50) NOT NULL,
	[MaDichVuCLS] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
	[ThanhTien] [int] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[KetQua] [nvarchar](max) NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_ChiDinh] PRIMARY KEY CLUSTERED 
(
	[MaChiDinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 04/02/2024 8:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MaChucVu] [nvarchar](50) NOT NULL,
	[TenChucVu] [nvarchar](50) NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGKY]    Script Date: 04/02/2024 8:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKY](
	[MaDangKy] [nvarchar](50) NOT NULL,
	[MaDichVuKB] [nvarchar](50) NOT NULL,
	[MaPhongKham] [nvarchar](50) NOT NULL,
	[LyDoKham] [nvarchar](200) NOT NULL,
	[ThuTu] [int] NOT NULL,
	[NgayKham] [date] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_DANGKY] PRIMARY KEY CLUSTERED 
(
	[MaDangKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVUCLS]    Script Date: 04/02/2024 8:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVUCLS](
	[MaDichVuCLS] [nvarchar](50) NOT NULL,
	[MaNhomDichVuCLS] [nvarchar](50) NOT NULL,
	[TenDichVuCLS] [nvarchar](200) NOT NULL,
	[GiaTien] [int] NOT NULL,
	[GiaBaoHiem] [int] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_DICHVUCLS] PRIMARY KEY CLUSTERED 
(
	[MaDichVuCLS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVUKB]    Script Date: 04/02/2024 8:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVUKB](
	[MaDichVuKB] [nvarchar](50) NOT NULL,
	[MaNhomDichVuKB] [nvarchar](50) NOT NULL,
	[TenDichVuKB] [nvarchar](200) NOT NULL,
	[GiaTien] [int] NOT NULL,
	[GiaBaoHiem] [int] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_DICHVUKB] PRIMARY KEY CLUSTERED 
(
	[MaDichVuKB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONGIAPHONGBENH]    Script Date: 04/02/2024 8:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONGIAPHONGBENH](
	[MaDonGia] [nvarchar](50) NOT NULL,
	[TenLoaiPhong] [nvarchar](100) NOT NULL,
	[DonGia] [int] NOT NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_DONGIAPHONGBENH] PRIMARY KEY CLUSTERED 
(
	[MaDonGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONTHUOC]    Script Date: 04/02/2024 8:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONTHUOC](
	[MaDonThuoc] [nvarchar](50) NOT NULL,
	[MaBacSi] [nvarchar](50) NOT NULL,
	[MaBenhAn] [nvarchar](50) NOT NULL,
	[MaThuoc] [nvarchar](50) NOT NULL,
	[CachDung] [nvarchar](200) NULL,
	[SoNgay] [int] NULL,
	[SoLuong] [int] NULL,
	[Sang] [int] NULL,
	[Trua] [int] NULL,
	[Chieu] [int] NULL,
	[Toi] [int] NULL,
	[DonGia] [int] NULL,
	[ThanhTien] [int] NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_DONTHUOC] PRIMARY KEY CLUSTERED 
(
	[MaDonThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIUONGBENH]    Script Date: 04/02/2024 8:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIUONGBENH](
	[MaGiuong] [nvarchar](50) NOT NULL,
	[MaPhong] [nvarchar](50) NOT NULL,
	[CoNguoi] [nvarchar](50) NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_GIUONGBENH] PRIMARY KEY CLUSTERED 
(
	[MaGiuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 04/02/2024 8:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHoaDon] [nvarchar](50) NOT NULL,
	[MaBenhAn] [nvarchar](50) NOT NULL,
	[TongTien] [int] NULL,
	[NgayLapDon] [date] NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHAMLAMSANG]    Script Date: 04/02/2024 8:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHAMLAMSANG](
	[MaKhamLamSang] [nvarchar](50) NOT NULL,
	[MaBacSi] [nvarchar](50) NULL,
	[NgayKham] [date] NULL,
	[CanNang] [nvarchar](50) NULL,
	[ChieuCao] [nvarchar](50) NULL,
	[NhietDo] [nvarchar](50) NULL,
	[NhipTho] [nvarchar](50) NULL,
	[HuyetAp] [nvarchar](50) NULL,
	[Mach] [nvarchar](50) NULL,
	[BMI] [nvarchar](50) NULL,
	[LyDoKhamBenh] [nvarchar](200) NULL,
	[ChuanDoan] [nvarchar](200) NULL,
	[BenhChinh] [nvarchar](200) NULL,
	[BenhPhu] [nvarchar](200) NULL,
	[HuongXuLy] [nvarchar](200) NULL,
	[LoiDan] [nvarchar](200) NULL,
	[BenhSu] [nvarchar](200) NULL,
	[TienSu] [nvarchar](200) NULL,
	[KhamToanThan] [nvarchar](200) NULL,
	[KhamBoPhan] [nvarchar](200) NULL,
	[TomTatKetQuaCLS] [nvarchar](200) NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_KHAMBENH] PRIMARY KEY CLUSTERED 
(
	[MaKhamLamSang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 04/02/2024 8:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MaKhoa] [nvarchar](50) NOT NULL,
	[TenKhoa] [nvarchar](200) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMDICHVUCLS]    Script Date: 04/02/2024 8:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMDICHVUCLS](
	[MaNhomDichVuCLS] [nvarchar](50) NOT NULL,
	[TenNhomDichVuCLS] [nvarchar](200) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_NHOMDICHVU] PRIMARY KEY CLUSTERED 
(
	[MaNhomDichVuCLS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMDICHVUKB]    Script Date: 04/02/2024 8:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMDICHVUKB](
	[MaNhomDichVuKB] [nvarchar](50) NOT NULL,
	[TenNhomDichVuKB] [nvarchar](200) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_NHOMDICHVUKB] PRIMARY KEY CLUSTERED 
(
	[MaNhomDichVuKB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMTHUOC]    Script Date: 04/02/2024 8:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMTHUOC](
	[MaNhomThuoc] [nvarchar](50) NOT NULL,
	[TenNhomThuoc] [nvarchar](200) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_NHOMTHUOC] PRIMARY KEY CLUSTERED 
(
	[MaNhomThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGBENH]    Script Date: 04/02/2024 8:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBENH](
	[MaPhong] [nvarchar](50) NOT NULL,
	[MaYTa] [nvarchar](50) NOT NULL,
	[MaDonGia] [nvarchar](50) NOT NULL,
	[TenPhong] [nvarchar](max) NOT NULL,
	[SoGiuong] [int] NOT NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_PHONGBENH] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGKHAM]    Script Date: 04/02/2024 8:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGKHAM](
	[MaPhongKham] [nvarchar](50) NOT NULL,
	[TenPhongKham] [nvarchar](50) NOT NULL,
	[SoLuongBenhNhan] [int] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_PHONGKHAM] PRIMARY KEY CLUSTERED 
(
	[MaPhongKham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANLY]    Script Date: 04/02/2024 8:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANLY](
	[MaQuanLy] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[HoTen] [nvarchar](150) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[DiaChi] [nvarchar](max) NULL,
	[NamSinh] [nvarchar](10) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[CanCuoc] [nvarchar](20) NULL,
	[Anh] [nvarchar](max) NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_QUANLY] PRIMARY KEY CLUSTERED 
(
	[MaQuanLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EmailQL] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 04/02/2024 8:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[Email] [nvarchar](150) NOT NULL,
	[MaChucVu] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](100) NOT NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUOC]    Script Date: 04/02/2024 8:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUOC](
	[MaThuoc] [nvarchar](50) NOT NULL,
	[MaNhomThuoc] [nvarchar](50) NOT NULL,
	[TenThuoc] [nvarchar](max) NOT NULL,
	[TenHoatChat] [nvarchar](max) NULL,
	[DuongDung] [nvarchar](50) NOT NULL,
	[HamLuong] [nvarchar](50) NULL,
	[SoDangKy] [nvarchar](100) NULL,
	[DongGoi] [nvarchar](max) NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[HangSanXuat] [nvarchar](max) NULL,
	[NuocSanXuat] [nvarchar](50) NULL,
	[GiaTien] [int] NOT NULL,
	[GiaBaoHiem] [int] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_THUOC] PRIMARY KEY CLUSTERED 
(
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XEPGIUONGBENH]    Script Date: 04/02/2024 8:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XEPGIUONGBENH](
	[MaXepGiuong] [nvarchar](50) NOT NULL,
	[MaGiuong] [nvarchar](50) NOT NULL,
	[MaBenhAn] [nvarchar](50) NULL,
	[NgayNhapVien] [date] NULL,
	[ThanhTien] [int] NULL,
	[SoNgay] [int] NULL,
	[XuatVien] [nvarchar](50) NULL,
	[NgayXuatVien] [date] NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_XEPGIUONGBENH] PRIMARY KEY CLUSTERED 
(
	[MaXepGiuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YTA]    Script Date: 04/02/2024 8:11:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YTA](
	[MaYTa] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[HoTen] [nvarchar](150) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[NamSinh] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[CanCuoc] [nvarchar](20) NOT NULL,
	[Anh] [nvarchar](max) NULL,
	[TrangThaiXoa] [bit] NOT NULL,
 CONSTRAINT [PK_YTA] PRIMARY KEY CLUSTERED 
(
	[MaYTa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EmailYT] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BACSI] ADD  CONSTRAINT [DF_BACSI_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[BENHAN] ADD  CONSTRAINT [DF_BENHAN_TongTien]  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[BENHAN] ADD  CONSTRAINT [DF_BENHAN_DaThu]  DEFAULT ((0)) FOR [DaThu]
GO
ALTER TABLE [dbo].[BENHAN] ADD  CONSTRAINT [DF_BENHAN_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[BENHNHAN] ADD  CONSTRAINT [DF_BENHNHAN_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[CHIDINH] ADD  CONSTRAINT [DF_CHIDINH_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[CHUCVU] ADD  CONSTRAINT [DF_CHUCVU_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[DANGKY] ADD  CONSTRAINT [DF_DANGKY_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[DICHVUCLS] ADD  CONSTRAINT [DF_DICHVUCLS_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[DICHVUKB] ADD  CONSTRAINT [DF_DICHVUKB_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[DONGIAPHONGBENH] ADD  CONSTRAINT [DF_DONGIAPHONGBENH_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[DONTHUOC] ADD  CONSTRAINT [DF_DONTHUOC_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[GIUONGBENH] ADD  CONSTRAINT [DF_GIUONGBENH_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[KHAMLAMSANG] ADD  CONSTRAINT [DF_KHAMLAMSAN_HuyetAp]  DEFAULT (N'0/0') FOR [HuyetAp]
GO
ALTER TABLE [dbo].[KHAMLAMSANG] ADD  CONSTRAINT [DF_KHAMLAMSAN_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[KHOA] ADD  CONSTRAINT [DF_KHOA_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[NHOMDICHVUCLS] ADD  CONSTRAINT [DF_NHOMDICHVUCLS_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[NHOMDICHVUKB] ADD  CONSTRAINT [DF_NHOMDICHVUKB_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[NHOMTHUOC] ADD  CONSTRAINT [DF_NHOMTHUOC_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[PHONGBENH] ADD  CONSTRAINT [DF_PHONGBENH_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[PHONGKHAM] ADD  CONSTRAINT [DF_PHONGKHAM_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[QUANLY] ADD  CONSTRAINT [DF_QUANLY_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [DF_TAIKHOAN_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[THUOC] ADD  CONSTRAINT [DF_THUOC_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[XEPGIUONGBENH] ADD  CONSTRAINT [DF_XEPGIUONGBENH_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[YTA] ADD  CONSTRAINT [DF_YTA_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[BACSI]  WITH CHECK ADD  CONSTRAINT [FK_BACSI_KHOA] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[KHOA] ([MaKhoa])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BACSI] CHECK CONSTRAINT [FK_BACSI_KHOA]
GO
ALTER TABLE [dbo].[BACSI]  WITH CHECK ADD  CONSTRAINT [FK_BACSI_TAIKHOAN] FOREIGN KEY([Email])
REFERENCES [dbo].[TAIKHOAN] ([Email])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BACSI] CHECK CONSTRAINT [FK_BACSI_TAIKHOAN]
GO
ALTER TABLE [dbo].[BENHAN]  WITH CHECK ADD  CONSTRAINT [FK_BENHAN_BENHNHAN] FOREIGN KEY([MaBenhNhan])
REFERENCES [dbo].[BENHNHAN] ([MaBenhNhan])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BENHAN] CHECK CONSTRAINT [FK_BENHAN_BENHNHAN]
GO
ALTER TABLE [dbo].[BENHAN]  WITH CHECK ADD  CONSTRAINT [FK_BENHAN_DANGKY] FOREIGN KEY([MaDangKy])
REFERENCES [dbo].[DANGKY] ([MaDangKy])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BENHAN] CHECK CONSTRAINT [FK_BENHAN_DANGKY]
GO
ALTER TABLE [dbo].[BENHAN]  WITH CHECK ADD  CONSTRAINT [FK_BENHAN_KHAMLAMSAN] FOREIGN KEY([MaKhamLamSang])
REFERENCES [dbo].[KHAMLAMSANG] ([MaKhamLamSang])
GO
ALTER TABLE [dbo].[BENHAN] CHECK CONSTRAINT [FK_BENHAN_KHAMLAMSAN]
GO
ALTER TABLE [dbo].[CHIDINH]  WITH CHECK ADD  CONSTRAINT [FK_CHIDINH_BACSI] FOREIGN KEY([MaBacSi])
REFERENCES [dbo].[BACSI] ([MaBacSi])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHIDINH] CHECK CONSTRAINT [FK_CHIDINH_BACSI]
GO
ALTER TABLE [dbo].[CHIDINH]  WITH CHECK ADD  CONSTRAINT [FK_CHIDINH_BENHAN] FOREIGN KEY([MaBenhAn])
REFERENCES [dbo].[BENHAN] ([MaBenhAn])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHIDINH] CHECK CONSTRAINT [FK_CHIDINH_BENHAN]
GO
ALTER TABLE [dbo].[CHIDINH]  WITH CHECK ADD  CONSTRAINT [FK_CHIDINH_DICHVUCLS] FOREIGN KEY([MaDichVuCLS])
REFERENCES [dbo].[DICHVUCLS] ([MaDichVuCLS])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHIDINH] CHECK CONSTRAINT [FK_CHIDINH_DICHVUCLS]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_DICHVUKB] FOREIGN KEY([MaDichVuKB])
REFERENCES [dbo].[DICHVUKB] ([MaDichVuKB])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_DICHVUKB]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_PHONGKHAM] FOREIGN KEY([MaPhongKham])
REFERENCES [dbo].[PHONGKHAM] ([MaPhongKham])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_PHONGKHAM]
GO
ALTER TABLE [dbo].[DICHVUCLS]  WITH CHECK ADD  CONSTRAINT [FK_DICHVUCLS_NHOMDICHVUCLS] FOREIGN KEY([MaNhomDichVuCLS])
REFERENCES [dbo].[NHOMDICHVUCLS] ([MaNhomDichVuCLS])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DICHVUCLS] CHECK CONSTRAINT [FK_DICHVUCLS_NHOMDICHVUCLS]
GO
ALTER TABLE [dbo].[DICHVUKB]  WITH CHECK ADD  CONSTRAINT [FK_DICHVUKB_NHOMDICHVUKB] FOREIGN KEY([MaNhomDichVuKB])
REFERENCES [dbo].[NHOMDICHVUKB] ([MaNhomDichVuKB])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DICHVUKB] CHECK CONSTRAINT [FK_DICHVUKB_NHOMDICHVUKB]
GO
ALTER TABLE [dbo].[DONTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_DONTHUOC_BACSI] FOREIGN KEY([MaBacSi])
REFERENCES [dbo].[BACSI] ([MaBacSi])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DONTHUOC] CHECK CONSTRAINT [FK_DONTHUOC_BACSI]
GO
ALTER TABLE [dbo].[DONTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_DONTHUOC_BENHAN] FOREIGN KEY([MaBenhAn])
REFERENCES [dbo].[BENHAN] ([MaBenhAn])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DONTHUOC] CHECK CONSTRAINT [FK_DONTHUOC_BENHAN]
GO
ALTER TABLE [dbo].[DONTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_DONTHUOC_THUOC] FOREIGN KEY([MaThuoc])
REFERENCES [dbo].[THUOC] ([MaThuoc])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DONTHUOC] CHECK CONSTRAINT [FK_DONTHUOC_THUOC]
GO
ALTER TABLE [dbo].[GIUONGBENH]  WITH CHECK ADD  CONSTRAINT [FK_GIUONGBENH_PHONGBENH] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONGBENH] ([MaPhong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GIUONGBENH] CHECK CONSTRAINT [FK_GIUONGBENH_PHONGBENH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_BENHAN] FOREIGN KEY([MaBenhAn])
REFERENCES [dbo].[BENHAN] ([MaBenhAn])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_BENHAN]
GO
ALTER TABLE [dbo].[KHAMLAMSANG]  WITH CHECK ADD  CONSTRAINT [FK_KHAMLAMSAN_BACSI] FOREIGN KEY([MaBacSi])
REFERENCES [dbo].[BACSI] ([MaBacSi])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KHAMLAMSANG] CHECK CONSTRAINT [FK_KHAMLAMSAN_BACSI]
GO
ALTER TABLE [dbo].[PHONGBENH]  WITH CHECK ADD  CONSTRAINT [FK_PHONGBENH_DONGIAPHONGBENH] FOREIGN KEY([MaDonGia])
REFERENCES [dbo].[DONGIAPHONGBENH] ([MaDonGia])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHONGBENH] CHECK CONSTRAINT [FK_PHONGBENH_DONGIAPHONGBENH]
GO
ALTER TABLE [dbo].[PHONGBENH]  WITH CHECK ADD  CONSTRAINT [FK_PHONGBENH_YTA] FOREIGN KEY([MaYTa])
REFERENCES [dbo].[YTA] ([MaYTa])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHONGBENH] CHECK CONSTRAINT [FK_PHONGBENH_YTA]
GO
ALTER TABLE [dbo].[QUANLY]  WITH CHECK ADD  CONSTRAINT [FK_QUANLY_TAIKHOAN] FOREIGN KEY([Email])
REFERENCES [dbo].[TAIKHOAN] ([Email])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QUANLY] CHECK CONSTRAINT [FK_QUANLY_TAIKHOAN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_CHUCVU] FOREIGN KEY([MaChucVu])
REFERENCES [dbo].[CHUCVU] ([MaChucVu])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_CHUCVU]
GO
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD  CONSTRAINT [FK_THUOC_NHOMTHUOC] FOREIGN KEY([MaNhomThuoc])
REFERENCES [dbo].[NHOMTHUOC] ([MaNhomThuoc])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[THUOC] CHECK CONSTRAINT [FK_THUOC_NHOMTHUOC]
GO
ALTER TABLE [dbo].[XEPGIUONGBENH]  WITH CHECK ADD  CONSTRAINT [FK_XEPGIUONGBENH_BENHAN] FOREIGN KEY([MaBenhAn])
REFERENCES [dbo].[BENHAN] ([MaBenhAn])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[XEPGIUONGBENH] CHECK CONSTRAINT [FK_XEPGIUONGBENH_BENHAN]
GO
ALTER TABLE [dbo].[XEPGIUONGBENH]  WITH CHECK ADD  CONSTRAINT [FK_XEPGIUONGBENH_GIUONGBENH] FOREIGN KEY([MaGiuong])
REFERENCES [dbo].[GIUONGBENH] ([MaGiuong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[XEPGIUONGBENH] CHECK CONSTRAINT [FK_XEPGIUONGBENH_GIUONGBENH]
GO
ALTER TABLE [dbo].[YTA]  WITH CHECK ADD  CONSTRAINT [FK_YTA_TAIKHOAN] FOREIGN KEY([Email])
REFERENCES [dbo].[TAIKHOAN] ([Email])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[YTA] CHECK CONSTRAINT [FK_YTA_TAIKHOAN]
GO
USE [master]
GO
